{% extends "food/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% block body %} {% for item in item_list %}
    <div class="container-lg align-items-center m-4">
      {% include "food/item_card.html" with show_details_button=True %}
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
